# Multiworld requires this version
gym<=0.15.4
git+https://github.com/orybkin/mujoco-py.git
pandas
matplotlib
ruamel.yaml
numpy
dm_control
numba
pyquaternion
numpy-quaternion
click
termcolor
torch
torchvision